@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*.merriweather-<uniquifier> {*/
/*    font-family: "Merriweather", serif;*/
/*    font-optical-sizing: auto;*/
/*    font-weight: <weight>;*/
/*    font-style: normal;*/
/*    font-variation-settings: "wdth" 100;*/

/*.roboto-<uniquifier> {*/
/*    font-family: "Roboto", sans-serif;*/
/*    font-optical-sizing: auto;*/
/*    font-weight: <weight>;*/
/*    font-style: normal;*/
/*    font-variation-settings: "wdth" 100;*/
/*}*/

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 h2 h3 {
    font-family: "Merriweather", serif;
}

p {
    font-family: "Roboto", sans-serif;
}

:root {
    --purple: #5722CD;
    --blue: #4845E4;
    --pink: #ED4385;
    --standard-content: #0C0C0C;
    --floating-content: #F2F0FF;
    --background-color: #F3F6F9;
    --service-tiles: #7A7A7A;
}

/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */