@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*.merriweather-<uniquifier> {*/
/*    font-family: "Merriweather", serif;*/
/*    font-optical-sizing: auto;*/
/*    font-weight: <weight>;*/
/*    font-style: normal;*/
/*    font-variation-settings: "wdth" 100;*/

/*.roboto-<uniquifier> {*/
/*    font-family: "Roboto", sans-serif;*/
/*    font-optical-sizing: auto;*/
/*    font-weight: <weight>;*/
/*    font-style: normal;*/
/*    font-variation-settings: "wdth" 100;*/
/*}*/

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --purple: #5722CD;
    --blue: #4845E4;
    --pink: #ED4385;
    --standard-content: #0C0C0C;
    --floating-content: #F2F0FF;
    --background-color: #F3F6F9;
    --service-tiles: #7A7A7A;
}

button{
    background-color: var(--pink);
    border-radius: 30px 30px 30px 30px;
    border: none;
    height: 50px;
    color: white;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 10px;
}

/* ------------------------------- 2. Typography ----------------------------------- */
h1 {
    font-family: "Merriweather", serif;
    font-size: 38px;
    color: white;
}

body {
    font-family: "Roboto", sans-serif;
}
/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
header {
    display: flex;
    flex-direction: column;
    background-color: var(--blue);
}

.nav-bar-content nav {
    display: flex;
    flex-direction: row;
}

.nav-bar-content ul {
    list-style: none;
    color: #F2F0FF;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    width: 100%;
    margin: 0 50px;
}

.direction-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 400px;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 675px;
    gap: 20px;
    text-align: center;
    margin: 0 50px;
}

.header-content p{
    color: #F2F0FF;
}

.header-content button {
    width: 150px;
}

/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */